In [2]:
from astropy.io import fits

In [3]:
data = fits.open('N3115_phot_colorcorr_extcorr_CaT.fits')

In [4]:
data[1].data['ZP_I']

array([ 27.70999908,  27.70999908,  27.70999908, ...,  27.70999908,
        27.70999908,  27.70999908])

In [8]:
data[1].header

XTENSION= 'BINTABLE'           /Binary table written by MWRFITS v1.6a
BITPIX  =                    8 /Required value
NAXIS   =                    2 /Required value
NAXIS1  =                  293 /Number of bytes per row
NAXIS2  =                21293 /Number of rows
PCOUNT  =                    0 /Normally 0 (no varying arrays)
GCOUNT  =                    1 /Required value
TFIELDS =                   42 /Number of columns in table
COMMENT
COMMENT  *** End of mandatory fields ***
COMMENT
COMMENT
COMMENT  *** Column names ***
COMMENT
TTYPE1  = 'RA      '           /
TTYPE2  = 'DEC     '           /
TTYPE3  = 'GMAG    '           /
TTYPE4  = 'ERRGMAG '           /
TTYPE5  = 'RMAG    '           /
TTYPE6  = 'ERRRMAG '           /
TTYPE7  = 'IMAG    '           /
TTYPE8  = 'ERRIMAG '           /
TTYPE9  = 'FWHM_WORLD '        /
TTYPE10 = 'PHOTGC  '           /
TTYPE11 = 'SPECGC  '           /
TTYPE12 = 'CATGC   '           /
TTYPE13 = 'EBV     '           /
TTYPE14 = 'GEXT    '           /
TTYPE15 = 'REXT    '           /
TTYPE16 = 'IEXT    '           /
TTYPE17 = 'ZP_G    '           /
TTYPE18 = 'ZP_R    '           /
TTYPE19 = 'ZP_I    '           /
TTYPE20 = 'VEL     '           /
TTYPE21 = 'ERRVEL  '           /
TTYPE22 = 'DVEL    '           /
TTYPE23 = 'LVEL    '           /
TTYPE24 = 'PVEL    '           /
TTYPE25 = 'KVEL    '           /
TTYPE26 = 'DWVEL   '           /
TTYPE27 = 'IVEL    '           /
TTYPE28 = 'IDN     '           /
TTYPE29 = 'SN      '           /
TTYPE30 = 'CAT     '           /
TTYPE31 = 'ECAT    '           /
TTYPE32 = 'Z       '           /
TTYPE33 = 'EZ      '           /
TTYPE34 = 'IDN_1   '           /
TTYPE35 = 'SN_1    '           /
TTYPE36 = 'CAT_1   '           /
TTYPE37 = 'ECAT_1  '           /
TTYPE38 = 'Z_1     '           /
TTYPE39 = 'EZ_1    '           /
TTYPE40 = 'DELTAZ  '           /
TTYPE41 = 'DELTACAT '          /
TTYPE42 = 'REDUNDANT '         /
COMMENT
COMMENT  *** Column formats ***
COMMENT
TFORM1  = 'D       '           /
TFORM2  = 'D       '           /
TFORM3  = 'D       '           /
TFORM4  = 'D       '           /
TFORM5  = 'D       '           /
TFORM6  = 'D       '           /
TFORM7  = 'D       '           /
TFORM8  = 'D       '           /
TFORM9  = 'D       '           /
TFORM10 = 'D       '           /
TFORM11 = 'D       '           /
TFORM12 = 'D       '           /
TFORM13 = 'E       '           /
TFORM14 = 'E       '           /
TFORM15 = 'E       '           /
TFORM16 = 'E       '           /
TFORM17 = 'D       '           /
TFORM18 = 'D       '           /
TFORM19 = 'D       '           /
TFORM20 = 'D       '           /
TFORM21 = 'D       '           /
TFORM22 = 'D       '           /
TFORM23 = 'D       '           /
TFORM24 = 'D       '           /
TFORM25 = 'D       '           /
TFORM26 = 'D       '           /
TFORM27 = 'D       '           /
TFORM28 = '23A     '           /
TFORM29 = 'E       '           /
TFORM30 = 'E       '           /
TFORM31 = 'E       '           /
TFORM32 = 'E       '           /
TFORM33 = 'E       '           /
TFORM34 = '20A     '           /
TFORM35 = 'E       '           /
TFORM36 = 'E       '           /
TFORM37 = 'E       '           /
TFORM38 = 'E       '           /
TFORM39 = 'E       '           /
TFORM40 = 'E       '           /
TFORM41 = 'E       '           /
TFORM42 = 'I       '           /